<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog testowy</title>
</head>
<body>
    <h1>Welcome on page site</h1>
    {% comment %}
        posts list
    {% endcomment %}
    {% for post in posts %}
    <div>
        <p>publish date: {{ post.published_date}}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <em>{{ post.text|linebreaksbr }}</em>
    </div>
    {% endfor %}
</body>
</html>