h2 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

h1 {
    padding: 0.7em;
}

body {
    background: #222222;
}

header {
    display: flex;
    padding: 1em;
    align-items: center;
    background: #ffc107;
}

main {
    padding: 2em;
}